[Desktop Entry]
Encoding=UTF-8
Exec=/usr/lib/eth-trick/start.sh
Name=Eth-trick
GenericName=Eth-trick
Type=Application
Terminal=false
StartupNotify=false
Type=Application
Icon=/usr/lib/eth-trick/eth.png
Categories=Network